<form method="GET" action="{% url 'search:search_list' 1 %}">
    {% csrf_token %}
    <input type="radio" checked="checked" name="search_type" value="simple">精简搜索<br>
    主题:<input type="text" name="simple_search"><br>
    <input type="radio" name="search_type" value="complex">复杂搜索<br>
    关键词(多个之间逗号隔开)<input type="text" name="keyword"><br>
    作者<input type="text" name="author"><br>
    出版物<select name="type">
        <option value="null">NULL</option>
        <option value="conference">Conference</option>
        <option value="journal">Journal</option>
        <option value="book">Book</option>
        <option value="bookchapter">BookChapter</option>
        <option value="bookreferenceentry">BookReferenceEntry</option>
    </select>
    <input type="text" name="publisher"><br>
    发表时间<input type="number" name="start_year">-<input type="number" name="end_year"><br>
    排序方式<select name = "order">
        <option value="relativity">相关度</option>
        <option value="citation">被引量</option>
        <option value="year">时间降序</option>
    </select>
    <input type="submit" value="提交">
    
</form>