<table>
    <tr>
        <td>
            <a href="{% url 'display:project' %}">project</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'display:paper' %}">paper</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'display:patent' %}">patent</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'display:detail' %}">detail</a>
        </td>
    </tr>
        <tr>
        <td>
            <a href="{% url 'display:membership' %}">membership</a>
        </td>
    </tr>
</table>