<p>add project here</p>
<form method="POST" action="{% url 'account:add_project' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.comp_name.label}} {{ form.comp_name }}<br>
    {{ form.price.label}} {{ form.price }}<br>
    {{ form.description.label }} {{ form.description }}<br>
    {{ form.organization.label }} {{ form.organization }}<br>
    {{ form.start_time.label }} {{ form.start_time }}<br>
    {{ form.end_time.label }} {{ form.end_time }}<br>
    {{ form.appendixes.label }} {{ form.appendixes }}<br>
    {{ form.pictures.label }} {{ form.pictures }}<br>
    {{ form.videos.label }} {{ form.videos }}<br>
    <input type="submit" value="Submit"/>
</form>

{% if invalid == True%}
输入信息有错误
{% endif %}