<table>
    <tr>
        <td>
            <a href="{% url 'account:register' %}">register</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'account:expert_register' %}">expert rigister</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'account:login' %}">login</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'account:profile' %}">profile</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="{% url 'account:change_password' %}">change password</a>
        </td>
    </tr>
</table>